:root {
--monospace: 'Overpass Mono', monospace; /* menus */
--cursive: 'La Belle Aurore', cursive; /* tags */
--emphasys: 'Exo 2', sans-serif; /* logo */
--pattern: 'open sans', 'segoe ui', sans-serif; /* geral */

--featured: #08FDD8;
--inverse: #FC0853;

--bgcolor: #181818;
--bgbody: #252627;
--bgblack: #070707;
--bgellipse: #111111;

--gray: #4D4D4E;
--clear: #FFFFFF;
}

body {
    background-color: var(--bgbody);
    font-family: var(--pattern);
    transition: all 2s;
    overflow-x: hidden;
}
.crimson {
	color: var(--featured);
}
.crimson-inverse {
	color: var(--inverse);
}

/* Navbar - All
--------------------------------------------------- */
.navbar-custom {
    background-color: var(--bgcolor);
    color: var(--gray);
    font-family: var(--monospace);
    height: 55px;
} 
.navbar-custom a:hover {
    color: var(--featured);
}
.navbar-center a, 
.navbar-footer a {
    background-color: transparent !important;
    color: var(--gray);
}
.navbar-header {
    background-color: var(--bgblack);
}
.navbar-brand {
    color: var(--featured) !important;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    height: 55px;
}
.navbar-brand .crimson,
.navbar-brand .crimson-l,
.navbar-brand .crimson-g {
    margin-right: .1rem;
}
.navbar-brand .crimson::before,
.navbar-brand .crimson-l::before,
.navbar-brand .crimson-g::before {
    color: var(--inverse);
    content: "F";
    margin-left: .2rem;
    margin-right: -1.16rem;
}
.navbar-brand .crimson::before {
    content: "F";
}
.navbar-brand .crimson-l::before {
    content: "<";
}
.navbar-brand .crimson-g::before {
    content: ">";
}
.navbar-right {
    padding-right: 15px;
}
.navbar-right a {
    transition: all 1s;
}
.navbar-center a {
    color: var(--gray);
    display: block;
    font-size: 25px;
    height: 55px;
    margin-left: 14%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    text-decoration: none;
}
.navbar-center a svg {
    overflow: hidden;
    transition: all 1s;
    width: 100%;
}
.navbar-center a:hover svg {
    width: 0;
}
.navbar-center a .hover-only {
    display: inline-block;
    font-size: 13px;
    overflow: hidden;
    transition: all 1s;
    width: 0;
}
.navbar-center a:hover .hover-only {
    width: 100%;
}

/* Navbar - Tablet/Celular (Menu superior)
--------------------------------------------------- */
@media only screen and (max-width : 992px) {
    .navbar-center li {
        width: 14%;
    }
    .navbar-center {
        display: flex;
        float: none;
        justify-content: center;
    } 
}

/* Navbar - Celular (Menu colapsado)
--------------------------------------------------- */
@media only screen and (max-width : 768px) {
    .navbar-brand {
        background-color: var(--bgblack) !important;
        border-bottom: 1px solid var(--bgblack);
    }
    .navbar-header {
        background-color: var(--bgcolor);
    }
    .navbar-toggle {
        transition: all 1s;
    }
    .navbar-toggle:hover {
        border: 1px solid var(--featured);
    }
    .navbar-toggle .icon-bar {
        background-color: var(--clear);
        height: 4px;
        transition: all 1s;
    }
    .navbar-center {
        margin: 0;
    }
    .navbar-collapse {
        background-color: var(--bgcolor);
        box-shadow: none;
    }
    .navbar-nav>li>a {
        line-height: unset;
    }
    .navbar-nav>li {
        text-align: center;
        width: 25%;
    }
    .navbar-toggle:hover .icon-bar {
        background-color: var(--featured);
    } 
} 

/* Navbar - Desktop (menu vertical)
--------------------------------------------------- */
@media only screen and (min-width : 992px) {
    .navbar-custom {
        border-radius: 0;
        height: 100%;
        position: fixed;
        width: 70px;
    }
    .navbar-custom .navbar-nav > li {
        float: none;
        margin-top: 22px;
        text-align: center;
        width: 69px;
    }
    .navbar-custom .navbar-right > li {
        margin-top: 0;
    }
    .navbar-reference {
        height: 100%;
        position: relative;
    }
    .navbar-footer {
        bottom: 15px;
        position: absolute;
    }
    .navbar-center {
        height: 80vh;
    }
    .navbar-center a {
        margin: 0;
    }
}
/* esconder menu social com base na altura da tela */
@media only screen and (max-height : 578px) and (min-width : 768px) {
    .navbar-center { 
        height: 100vh;
    }
    .navbar-footer {
        display: none;
    }
}

/* Sections
--------------------------------------------------- */
.full-size {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 1000vh;
    min-height: 100vh;
    width: 100vw;
    transition: opacity 1s;
}
.full-size {
    background-color: var(--bgbody);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='392' height='392' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23212223' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23202122'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"),
    radial-gradient(ellipse farthest-corner at 120% 150%,var(--bgellipse) 20%,transparent 80%);
    /* background by SVGBackgrounds.com */
}
.achatado {
    max-height: 0;
    min-height: 0;
    overflow-y: hidden;
    opacity: 0;
}
.content { 
    color: var(--clear);
    transition: all 2s;
}
/* espaçamento a esquerda para evitar que o conteúdo entre atrás do menu*/
@media only screen and (min-width : 1000px) {
    .content {
        padding-left: 60px;
    }
}

/* Logo
---------------------- */
h1 {
    margin-top: 0;
}
.logo {
    font-family: var(--emphasys);
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.6rem;
    margin-bottom: 0;
    padding-left: 3rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
.logo .crimson {
    margin-right: .5rem;
}
.logo .crimson::before {
	color: var(--inverse);
    content: "F";
    margin-left: .5rem;
    margin-right: -3.76rem;
}
.extra {
    color: var(--gray);
    font-family: var(--monospace);
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-top: 3rem;
}

/* Anim. de Entrada
---------------------- */
.page-load {
    transition: all 1s;
}
.page-load effect {
    height: 0;
}
.page-loaded {
    opacity: 1; 
    transition: all 2s;
}
.effect {
    opacity: 0; 
}

/* Home
---------------------- */
.home-contact {
    border: 1px solid var(--featured);
    border-radius: 5px;
	color: var(--featured);
    font-family: var(--monospace);
    margin-left: 3rem;
    padding: .95rem 1.5rem;
}
.home-contact:enabled {
	color: var(--featured);
    text-decoration: none;
}
.home-contact:hover, .home-contact:active {
	color: var(--bgbody);
	background-color: var(--featured);
    text-decoration: none;
}

