/*
**********************************************************
*** Cliente: Cavaleiro (Zeus)
*** Projeto: Website/E-commerce
*** Autor: JimmyFilips
*** Website: https://github.com/jimmyfilips
**********************************************************
*/

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 6rem 0;
    text-align: center;
}
.box {
    padding: 3rem 0;
}
.titulo {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 6rem;
}
.sub-titulo {
    font-size: 1.7rem;
    font-weight: bold;
}
.texto {
    font-size: 1.4rem;
}

/* Navbar Customização
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-custom {
    font-weight: bold;
}
.navbar-custom a {
    color: #d0d0d0;
}
.navbar-custom a:hover {
    color: white;
    text-decoration: none;
}
.navbar-inverse {
    background-color: rgb(34,34,34);
    background-color: rgba(34,34,34,0.92);
    border-bottom: 0;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.inicio img {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
.inicio p {
    color: white;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.parallax-window {
    align-items: center;
    background: transparent;
    display: flex;
    min-height: 100vh;
}

/* Quem Somos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.quem-somos {
    background-color: #efefef;
}
.quem-somos i {
    font-size: 35pt;
    text-align: right;
}
.quem-somos .texto {
    margin-bottom: 30px;
    text-align: left;
}
.quem-somos img {
    margin-top: 40px;
}
@media (min-width: 992px) {
    .quem-somos .sub-titulo {
        text-align: left;
    }
}
@media (max-width: 992px) {
    .quem-somos img {
        margin-bottom: 40px;
    }
}

/* Produtos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.produtos {
    background-color: #ebebeb;
}
.produtos .box {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 0 6px 6px;
    margin-bottom: 4rem;
}
.produtos .sub-titulo {
    text-transform: uppercase;
}
.produtos .preco {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
.vantagens .fa-check {
    color: #71d65d;
}
.vantagens .fa-remove {
    color: #d12525;
}

/* Perguntas Frequentes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.perguntas-frequentes {
    background-color: #efefef;
}
.ativador-input { 
    display: none; 
}
.etiqueta {
    align-content: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(50, 50, 90,.1);
    cursor: pointer;
    display: flex;
    font-size: 1.17em;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 25px;
    transition: all 0.4s;
    width: 95%;
}
.etiqueta .ico {
    color: #71d65d;
    font-size: 26.6pt;
    text-shadow: 
        1px 0 0 rgba(0,0,0,1),
        0 1px 0 rgba(0,0,0,1),
        -1px 0 0 rgba(0,0,0,1),
        0 -1px 0 rgba(0,0,0,1),
        1px 1px 0 rgba(0,0,0,1),
        -1px 1px 0 rgba(0,0,0,1),
        1px -1px 0 rgba(0,0,0,1),
        -1px -1px 0 rgba(0,0,0,1);
    width:26.6pt;
}
.etiqueta .title {
    margin: auto 0;
    margin-left: 10px;
    width: calc(100% - 26.6pt - 10px);
}
.etiqueta:hover {
  box-shadow: 5px 5px 6px rgba(50, 50, 90,.2);
  transform: translateY(-1px) rotate(-1deg);
}
.ativador-input:checked + .box-faq .etiqueta {
  box-shadow: 5px 5px 6px rgba(50, 50, 90,.2);
  transform: translateY(-1px) rotate(-1deg);
}
.faq-desc {
  background: white;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 500ms;
  width: 100%;
}
.ativador-input:checked + .box-faq .faq-desc {
  box-shadow: 0 2px 6px rgba(50, 50, 90,.1);
  padding: 20px;
}
.ativador-input:checked + .box-faq .faq-desc {
  max-height: 200px;
}

/* Rodapé
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background: url(../img/background-footer.jpg) no-repeat center;
  background-size: 100%;
  padding: 25px 0 10px 0;
}
footer .texto {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
footer a {
  color: #71d65d;
  text-decoration: none;
}
footer a:hover {
  color: #66c054;
}
footer .texto:first-child::after {
	background: #555;
	content: '';
	display: block;
	height: 1px;
	margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
	width: 200px;
}

/* Pace Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #71d65d;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}