:root {
--monospace: 'Overpass Mono', monospace; /* menus */
--cursive: 'La Belle Aurore', cursive; /* tags */
--emphasys: 'Exo 2', sans-serif; /* logo */
--pattern: 'open sans', 'segoe ui', sans-serif; /* geral */

--featured: #08FBE8;
--inverse: #FB0853;

--bgcolor: #19191D;
--bgbody: #262630;
--bgblack: #000001;
--bgellipse: #111115;

--gray: #4D4D4E;
--clear: #FEFEFF;
    
--navbar: 60px;
--animation: .4s;
--pagein: 2s;
}

body {
    background-color: var(--bgbody);
    font-family: var(--pattern);
    overflow-x: hidden;
    transition: all 2s;
}
.crimson {
	color: var(--featured);
}
.crimson-inverse {
	color: var(--inverse);
}

/* Button
------------------------ */
.sp-btn {
    border: 1px solid var(--featured);
    border-radius: 5px;
	color: var(--featured);
    display: inline-block;
    font-family: var(--monospace);
    line-height: normal;
    padding: .65rem 1.5rem;
}
.sp-btn:enabled {
	color: var(--featured);
    text-decoration: none;
}
.sp-btn:hover, .sp-btn:active {
	background-color: var(--featured);
	color: var(--bgbody);
    text-decoration: none;
} 

/* Navbar
--------------------------------------------------- */
.navbar-custom {
    background-color: var(--bgcolor);
    border-radius: 0;
    color: var(--gray);
    font-family: var(--monospace);
    height: var(--navbar);
}
.navbar-center a, 
.navbar-footer a {
    background-color: transparent !important;
    color: var(--gray);
}
.navbar-custom a:hover {
    color: var(--featured);
}
.navbar-custom .active {
    color: var(--featured);
}
.navbar-header {
    background-color: var(--bgblack);
}
.navbar-brand {
    align-items: center;
    color: var(--featured) !important;
    display: flex;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    height: var(--navbar);
    justify-content: center;
    width: var(--navbar);
}
.navbar-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.navbar-center>li {
    align-items: center;
    display: flex;
    justify-content: center;
}
.navbar-right>li {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Brand anagliph effect
------------------------ */
.navbar-brand .crimson,
.navbar-brand .crimson-l,
.navbar-brand .crimson-g {
    margin-right: .1rem;
}
.navbar-brand .crimson::before,
.navbar-brand .crimson-l::before,
.navbar-brand .crimson-g::before {
    color: var(--inverse);
    margin-left: .2rem;
    margin-right: -1.16rem;
}
.navbar-brand .crimson::before {
    content: "F";
}
.navbar-brand .crimson-l::before {
    content: "<";
}
.navbar-brand .crimson-g::before {
    content: ">";
}

/* Navbar Hover effect
------------------------ */
.navbar-right a {
    transition: all var(--animation);
}
.navbar-center a {
    color: var(--gray);
    display: block;
    font-size: 25px;
    width: 100%;
}
.navbar-center li {
    text-align: center;
}
.navbar-center li:hover {
    text-align: right;
}
.navbar-center a svg {
    -webkit-transition: all var(--animation) ease-out;
    transition: all var(--animation) ease-out;
    width: 100%;
}
.navbar-center a:hover svg {
    width: 0;
}
.navbar-center a#home-nav:after {
    content: 'home';
}
.navbar-center a#skill-nav:after {
    content: 'skill';
}
.navbar-center a#work-nav:after {
    content: 'work';
}
.navbar-center a#contato-nav:after {
    content: 'contact';
}
.navbar-center a:after {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 13px;
    height: 100%;
    justify-content: center;
    left:0;
    letter-spacing: .6px;
    overflow-x: hidden;
    position: absolute;
    -webkit-transition: all var(--animation) ease-out;
    transition: all var(--animation) ease-out;
    width: 0;
}
.navbar-center a:hover:after {
    width: 100%;
}

/* Navbar - menu vertical
------------------------ */

@media only screen and (min-width : 992px) {
    .navbar-custom {
        height: 100%;
        position: fixed;
        width:var(--navbar);
    }
    .navbar-custom .navbar-nav > li {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 12%;
        justify-content: center;
        width: var(--navbar);
    }
    .navbar-reference {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }
    .navbar-header {
        float: none;
        flex-grow: 0;
        height: var(--navbar);
        width: var(--navbar);
    }
    .navbar-collapse {
        float: none;
        height: auto;
        max-height: none !important;
        flex-grow: 1;
    }
    .navbar-footer {
        float: none;
        flex-grow: 0;
    }
    .navbar-center {
        flex-direction: column;
        top: 50%;
        position: absolute;
        height: 300px;
        margin-top: -150px;
    }
    .navbar-center>li {
        height: var(--navbar) !important;
    }
}
/* oculta o menu social e fixa o menu principal com base na altura da tela */
@media only screen and (max-height : 578px) and (min-width : 992px) {
    .navbar-footer {
        display: none;
    }
}
@media only screen and (max-height : 420px) and (min-width : 992px) {
    .navbar-center {
        top: var(--navbar);
        margin-top: 0;
    }
}

/* Navbar - Menu superior
------------------------ */
@media only screen and (min-width : 768px) and (max-width : 992px) {
    .navbar-reference {
        display: flex;
    }
    .navbar-header {
        flex-grow: 0;
        float: none;
        height: var(--navbar);;
        width: var(--navbar);;
    }
    .navbar-collapse {
        flex-grow: 2;
        float: none;
    }
    .navbar-footer {
        flex-grow: 0;
        float: none;
    }
    .navbar-center {
        float: none;
    } 
    .navbar-center>li {
        height: var(--navbar);
        width: 14%;
    }
    .navbar-center li:hover {
        text-align: center;
    }
    .navbar-right {
        margin-right: 0;
    }
    .navbar-right>li {
        height: var(--navbar);
    }
}

/* Navbar - Menu colapsado
------------------------ */
@media only screen and (max-width : 768px) {
    .navbar-brand {
        background-color: var(--bgblack) !important;
        border-bottom: 1px solid var(--bgblack);
    }
    .navbar-header {
        background-color: var(--bgcolor);
    }
    .navbar-toggle {
        transition: all var(--animation);
    }
    .navbar-toggle:hover {
        border: 1px solid var(--featured);
    }
    .navbar-toggle .icon-bar {
        background-color: var(--clear);
        height: 4px;
        transition: all var(--animation);
    }
    .navbar-center {
        margin: 0;
        height: var(--navbar);
    }
    .navbar-center li:hover {
        text-align: center;
    }
    .navbar-collapse {
        background-color: var(--bgcolor);
        box-shadow: none;
    }
    .navbar-nav>li {
        width: 25%;
    }
    .navbar-toggle:hover .icon-bar {
        background-color: var(--featured);
    } 
} 

/* Sections
--------------------------------------------------- */
.full-size {
    align-items: center;
    display: flex;
    min-height: 100vh;
    position: relative;
    transition: opacity var(--pagein);
    width: 100vw;
}
/* background */
.full-size {
    background-color: var(--bgbody);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='392' height='392' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23212223' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23202122'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"),
    radial-gradient(ellipse farthest-corner at 120% 150%,var(--bgellipse) 20%,transparent 80%);
    /* background by SVGBackgrounds.com */
}
.content { 
    color: var(--clear);
    transition: all var(--pagein);
}

.tags {
    color: var(--gray);
    font-family: var(--cursive);
    font-size: 13pt;
    margin: 20px 30px 10px 30px;
}
.tags.superior {
    left: 70px;
    position: absolute;
    top: 0;
}
.tags.inferior {
    bottom: 0;
    left: 70px;
    position: absolute;
}

/* espaçamento a esquerda para evitar que o conteúdo entre atrás do menu*/
@media only screen and (min-width : 992px) {
    .content {
        padding-left: 60px;
    }
    .full-size {
        min-height: 100vh;
    }
}
/* espaçamento acima evitar que o conteúdo entre atrás do menu*/
@media only screen and (max-width : 991px) {
    .nav-fake {
	    height: var(--navbar);
    }
    .full-size {
        min-height: calc(100vh - var(--navbar));
    }
    .tags.superior, .tags.inferior {
        left: 0;
    }
}

/* Anim. de Entrada
---------------------- */
.achatado {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow-y: hidden;
}
.page-load {
    transition: all var(--pagein);
}
.page-load effect {
    height: 0;
}
.page-loaded {
    transition: all var(--pagein);
}
.effect {
    opacity: 0; 
}

/* Home 
--------------------------------------------------- */
h1 {
    margin-top: 0;
}
.logo {
    font-family: var(--emphasys);
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.6rem;
    margin-bottom: 0;
    padding-left: 3rem;
}
.logo .crimson {
    margin-right: .5rem;
}
.logo .crimson::before {
	color: var(--inverse);
    content: "F";
    margin-left: .5rem;
    margin-right: -3.76rem;
}
.extra {
    color: var(--gray);
    font-family: var(--monospace);
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    padding-left: 3rem;
    padding-top: 3rem;
}
.cinza {
    color: var(--gray);
    padding-top: 3rem;
}
#home .sp-btn {
    margin-left: 3rem;
}
/* altura minima para a home (evita transposição das tags) */
@media only screen and (max-height : 570px) and (max-width : 991px) {
    #home {
        min-height: calc(570px - var(--navbar));
    }
}
@media only screen and (max-height : 490px) and (min-width : 992px) {
    #home {
        min-height: 490px;
    }
}