/*
**********************************************************
*** Projeto: Website/E-commerce
*** Autor: JimmyFilips
*** Website: https://github.com/jimmyfilips
**********************************************************
*/
:root {    
    /* Fontes */
    --fantasy: 'Ranchers', cursive;/*old*/
    --fantasy: 'Slackey', cursive;/*old*/
    --feature: 'Slackey', cursive;
    --fantasy: 'Luckiest Guy', cursive;
    
    /* cores gerais */
    --cortema: #E6E600;
    --cortema-2: #1AC2FE;
    --gradiente-a: #1AC2FE;
    --gradiente-b: #1AC2FE;
    
    /* cores de fundo */
    --bg-dark: #2A2A2A;
    --bg-clear: #E5E5E5;
    --bg-box: #F7F8FB;
    
    /* cores de texto */
    --text-dark: #2A2A2A;
    --text-clear: #E5E5E5;
    --text-white: #F7F8FB;
    
    /* cores fundo - produtos */
    --produto-a: #9BD9F5;
    --produto-b: #F2E9F5;
    
    /* cores da lista de vantagens/itens */
    --vantagens-verde: #77BA00;
    --vantagens-vermelho: #D12525;
    --vantagens-divisor: #E0E0E0;
    
    /* selo de promoção */
    --selo: #EDE74E;
    --selo-bg: #C3C752;
    --selo-texto: #8B8F29;
    
    /* botao de compra dos itens */
    --botao-compra-a: #E6E600;
    --botao-compra-b: #2A2A2A;
    
    /* botao de fechar do modal (opções de compra e contato) */
    --botao-close-a: #E5E5E5;
    --botao-close-b: #F7F8FB;
    --botao-close-borda: #E8E8E8;
    --botao-close-texto: #626262;
    
    /* botao mercado pago */
    --botao-mercadopago-a: #00a5ec;
    --botao-mercadopago-b: #2D3277;
    --botao-mercadopago-a-hover: #00A5EC;
    --botao-mercadopago-b-hover: #484EA2;
    --botao-mercadopago-texto: #F7F8FB;
    
    /* botao pagseguro */
    --botao-pagseguro-a: #77BA00;
    --botao-pagseguro-b: #5C9336;
    --botao-pagseguro-a-hover: #77BA00;
    --botao-pagseguro-b-hover: #69A83C;
    --botao-pagseguro-texto: #F7F8FB;
}

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 6rem 0;
    text-align: center;
}
.box {
    padding: 3rem 0;
}
.titulo {
    font-family: var(--fantasy);
    font-size: 3.3rem;
/*    font-weight: bold;*/
    margin: auto;
    margin-bottom: 6rem;
    text-transform: uppercase;
    
    background-color: var(--cortema-2);
    margin: 0 auto 6rem auto;
    padding: 10px;
    text-align: center;
    width: 290px;
    -webkit-clip-path: polygon(0 10%,100% 0,100% 98%,0 95%);
    clip-path: polygon(0 10%,100% 0,100% 98%,0 95%);
}
.sub-titulo {
    font-family: var(--feature);
    font-size: 1.7rem;
    font-weight: bold;
}
.texto {
    font-size: 1.4rem;
}
.extra-space {
    padding-bottom: 6rem;
}
.mid-space {
    margin-bottom: 3rem;
}
.no-space {
    margin-bottom: 1rem;
}
.titulo.clear, .titulo.dark {

    color: var(--text-dark);
/*
    text-shadow: 
        1px 0 0 var(--text-dark),
        0 1px 0 var(--text-dark),
        -1px 0 0 var(--text-dark),
        0 -1px 0 var(--text-dark),
        1px 1px 0 var(--text-dark),
        -1px 1px 0 var(--text-dark),
        1px -1px 0 var(--text-dark),
        -1px -1px 0 var(--text-dark);
*/
}

/* Navbar Customização
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-custom {
    font-weight: bold;
}
.navbar-custom a {
    color: var(--text-clear);
}
.navbar-collapse a {
    cursor: pointer;
    font-family: OpenSans,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .075em;
    padding: 0 1em;
    line-height: 18px;
    font-size: 11px;
}
.navbar-custom a:hover {
    color: (--cortema-2);
    text-decoration: none;
}
.navbar-inverse {
    background-color: var(--bg-dark);
    border-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a:after, .navbar-inverse .navbar-nav>li>a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    content: " ";
    transition: all .3s;
    border-bottom: 5px solid var(--cortema);
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: var(--text-white);
    text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a:focus:after, .navbar-inverse .navbar-nav>li>a:hover:after {
    width: 100%;
}
.navbar-right i {
    font-size: 18px;
}
.navbar-brand {
    font-family: var(--fantasy);
    font-weight: normal;
    letter-spacing:1px;
}
.navbar-brand:hover {
    color: var(--cortema-2);
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacing {
	height: 2rem;
}
.inicio img {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
}
.inicio p {
    color: (--cortema);
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.parallax-window {
    align-items: center;
    background: transparent;
    display: flex;
    min-height: 80vh;
} 

/* Opções de compras
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-produto a {
    text-decoration: none !important;
}
.box-produto a:hover {
    text-decoration: none !important;
}
.mascara {
  background-color:rgba(0,0,0,.8);
  position:fixed;
  width: 100vw;
  height: 100vh;
  display:none;
  z-index:99;
  left:0;
  top:0;
}
.modal_compra {
  display:none;
  width: 90%;
  max-width:500px;
  position:fixed;
  left:0;
  top:0;
  background:var(--bg-box);
  z-index:100;
  padding:20px;
  border-radius:5px;
    margin: 0 5%;
}
.prod-close {
    cursor: pointer;
}

/* Produtos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.produtos {
/*    background-blend-mode: darken;*/
/*    background-color: var(--bg-clear);*/
/*    background-image: url(../img/texture-bw.png);*/
    background-color: var(--produto-a);
    background-image: -webkit-linear-gradient(top, var(--produto-a), var(--produto-b) 80%);
    background-image: -moz-linear-gradient(top, var(--produto-a), var(--produto-b) 80%);
    background-image: -o-linear-gradient(top, var(--produto-a), var(--produto-b) 80%);
    background-image: linear-gradient(to top, var(--produto-a), var(--produto-b) 80%);
}
.box-produto {
    background-color: var(--bg-box);
    margin: 20px auto;
    max-width: 600px;
    padding-bottom: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 5%,24% 4%,24% 7%,27% 4%,100% 0,100% 100%,0 98%);
    clip-path: polygon(0 5%,24% 4%,24% 7%,27% 4%,100% 0,100% 100%,0 98%);
}
.box-produto.other {
    -webkit-clip-path: polygon(0 1%,24% 2%,24% 6%,27% 2%,100% 5%,100% 98%,0% 100%);
    clip-path: polygon(0 1%,24% 2%,24% 6%,27% 2%,100% 5%,100% 98%,0% 100%);
}
.prod-header {
    background-color: var(--cortema);
/*    border-radius: 10px 10px 0 0;*/
    height:250px;
}
.produto-1 {
    background: url(../img/regedit.jpg);
    background-position: center;
    background-size: cover;
}
.produto-2 {
    background: url(../img/fps-boost.jpg);
    background-position: center;
    background-size: cover;
}
.prod-header .prod-titulo {
    color: white;
    font-size: 30pt;
    font-weight: bold;
    margin: 0;
    padding: 140px 0 40px 0;
    text-align: center;
    text-shadow: 1px 0 5px rgba(0,0,0,0.5);
    text-transform: uppercase;
}
.prod-preco {
	font-size: 20pt;
    font-weight: 600;
    margin-top: -20px;
    padding: 10px 0;
}
.prod-preco-antigo {
    font-size: 1.2rem;
    margin-left: -6rem;
    margin-top: -2rem;
    font-style: italic;
}
.prod-preco-antigo span {
    color:red;
    text-decoration: line-through;
}
.vantagens {
    background-color: var(--bg-box);
    padding: 10px 25px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.vantagens .vant-space { 
    margin-bottom: 0 
}
.vantagens .destaque {
    background-color: var(--gradiente-a);
    background-image: -webkit-linear-gradient(right, var(--gradiente-a), var(--gradiente-b) 80%);
    background-image: -moz-linear-gradient(right, var(--gradiente-a), var(--gradiente-b) 80%);
    background-image: -o-linear-gradient(right, var(--gradiente-a), var(--gradiente-b) 80%);
    background-image: linear-gradient(to left, var(--gradiente-a), var(--gradiente-b) 80%);
    color: white;
    font-size: 13pt;
    font-weight: bold;
    margin: -33px auto 40px auto;
    padding: 10px;
    text-align: center;
    width: 190px;
    -webkit-clip-path: polygon(0 10%,100% 0,100% 98%,0 95%);
    clip-path: polygon(0 10%,100% 0,100% 98%,0 95%);
}
.vantagens .destaque.other {
    -webkit-clip-path: polygon(0 0%,100% 7%,100% 95%,0 100%);
    clip-path: polygon(0 0%,100% 7%,100% 95%,0 100%);
}
.vantagens .texto {
    border-bottom: 1px solid var(--vantagens-divisor);
    padding-bottom: 10px;
}
.vantagens .fa-check {
    color: var(--vantagens-verde);
}
.vantagens .fa-remove {
    color: var(--vantagens-vermelho);
}
.vantagens .fa-question-circle {
    color: var(--cortema-2);
}
.prod-comprar {
    background-color: var(--botao-compra-a);
    color: var(--botao-compra-b);
    cursor: pointer;
    display: inline-block;
    font-family: var(--fantasy);
    font-size: 2em;
    margin: 1em auto;
    padding: 17px 2em;
    text-align: center;
    transition: all .4s;
    -webkit-clip-path: polygon(0 10%,100% 0,100% 98%,0 95%);
    clip-path: polygon(0 10%,100% 0,100% 98%,0 95%);
}
.prod-comprar.other {
    -webkit-clip-path: polygon(0 0%,100% 7%,100% 95%,0 100%);
    clip-path: polygon(0 0%,100% 7%,100% 95%,0 100%);
}
.prod-comprar:hover, .prod-comprar.other:hover {
    -webkit-clip-path: polygon(0 0%,100% 0%,100% 100%,0 100%);
    clip-path: polygon(0 0%,100% 0%,100% 100%,0 100%);
}
@media (min-width: 992px) {
    .gold-box {
        transform: translate(0,-15px);
    }
    .gold-destaque {
        height:280px;
    }
}
.selo {
    border-bottom: 15px solid var(--selo);
    border-left: 15px solid transparent;
    border-right: 10px solid var(--selo);
    border-top: 15px solid var(--selo);
    
    height: 0;
    position: relative;
    top: 10px;
    transform: rotate(-90deg);   
    width: 70px;
}
.selo .selo-nome {
    color: var(--selo-texto);
    font-size: 8pt;
    font-weight: bold;
    margin-top: -7px;
}
.selo .selo-nome::after {
    border-left: 6px solid var(--selo-bg);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    content: ' ';
    height: 0; 
    left: 42px;
    position: absolute;
    top: 18px;
    transform: rotate(90deg);
    width: 0; 
    z-index: -50;
}
.promo-inauguracao {
    margin: -45px auto 4rem auto;
    transform:rotate(-3deg);
    width: 160px;
    background-color: var(--selo);
    color: var(--selo-texto);
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 7pt;
    font-weight: bold;
}
/* descrição técnica */
.ativador-input {
    display: none;
}
.desc-texto { 
    transition: all .4s;
    max-height: 0;
    overflow: hidden;
    color: var(--bg-box);
}
.ativador-input:checked + 
.ativador-desc .desc-texto {
    max-height: 200px; 
    color: var(--text-dark);
}
.desc-titulo {
    transition: all .4s;
    cursor: pointer;
    margin: 0;
    font-weight: 400;
}
.ativador-input:checked + 
.ativador-desc .desc-titulo {
    margin-bottom: 15px;
}
.desc-titulo::after {
    content:'+';
    float: right;
    margin-left: 15px;
    transition: transform .3s ease;
}
.ativador-input:checked + 
.ativador-desc .desc-titulo::after {
    transform: rotate(45deg) scale(1.08);
}

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.prod-opcoes {
    background-color:var(--bg-box);
    padding:20px;
    border-radius: 5px;
    position: relative;
}
.prod-opcoes.form-contato {
    padding:0;
} 
.prod-opcoes-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
	font-size: 10px;
	color: var(--botao-close-texto);
    font-weight: bold;
	padding: 8px 16px;
	background: -moz-linear-gradient(
		top,
		var(--botao-close-a) 0%,
		var(--botao-close-b));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-close-a)),
		to(var(--botao-close-b)));
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    border: 1px solid var(--botao-close-borda);
}
.prod-opcoes-close:hover {
	background: -moz-linear-gradient(
		top,
		var(--botao-close-a) 0%,
		var(--botao-close-b));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-close-a)),
		to(var(--botao-close-b)));
    border: 1px solid var(--botao-close-borda);
}
.prod-opcoes-logo {

	height: 53px;
}
.prod-opcoes-logo img {
	padding: 1rem 0 0 0 !important;
}
.prod-opcoes-bt {
    padding: 8px 0 2px 0;
}
.prod-opcoes-box {
    background-color: var(--bg-box);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 10px 0;
    border-radius: 5px;
}
.prod-codigo {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--botao-close-borda);
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	color: var(--text-dark);
	padding: 10px;
    text-align: center;
    width: 45%;
    margin: 10px auto; 
}

.botao-mercadopago {
    border: 0;
	color: var(--botao-mercadopago-texto);
    text-decoration: none;
    content: 'Comprar';
}
.botao-mercadopago {
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	color: var(--botao-mercadopago-texto);
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		var(--botao-mercadopago-a) 0%,
		var(--botao-mercadopago-b));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-mercadopago-a)),
		to(var(--botao-mercadopago-b)));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.botao-mercadopago:hover {
	background: -moz-linear-gradient(
		top,
		var(--botao-mercadopago-a-hover) 0%,
		var(--botao-mercadopago-b-hover));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-mercadopago-a-hover)),
		to(var(--botao-mercadopago-b-hover)));
}
.botao-mercadopago:active {
	background: -moz-linear-gradient(
		top,
		var(--botao-mercadopago-a-hover) 0%,
		var(--botao-mercadopago-b-hover));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-mercadopago-a-hover)),
		to(var(--botao-mercadopago-b-hover)));
}

.botao-pagseguro {
    border: 0;
	color: var(--botao-pagseguro-texto);
    text-decoration: none;
    content: 'Comprar';
}
.botao-pagseguro {
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	color: var(--text-white);
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		var(--botao-pagseguro-a) 0%,
		var(--botao-pagseguro-b));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-pagseguro-a)),
		to(var(--botao-pagseguro-b)));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.botao-pagseguro:hover {
	background: -moz-linear-gradient(
		top,
		var(--botao-pagseguro-a-hover) 0%,
		var(--botao-pagseguro-b-hover));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-pagseguro-a-hover)),
		to(var(--botao-pagseguro-b-hover)));
}
.botao-pagseguro:active {
	background: -moz-linear-gradient(
		top,
		var(--botao-pagseguro-b-hover) 0%,
		var(--botao-pagseguro-a-hover));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(var(--botao-pagseguro-b-hover)),
		to(var(--botao-pagseguro-a-hover)));
}

.prod-download {
    padding-top: 3rem; 
}
.ico-download {
    margin-right: 10px;
}
@media (max-width: 762px) {
    .prod-opcoes {
        min-width: 90vw;
    }
    .prod-opcoes-box-space {
        margin-bottom: 3rem;
    }
}

.processo-compra {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--produto-a);
    background-image: -webkit-linear-gradient(top, var(--produto-a), var(--produto-b) 80%);
    background-image: -moz-linear-gradient(top, var(--produto-a), var(--produto-b) 80%);
    background-image: -o-linear-gradient(top, var(--produto-a), var(--produto-b) 80%);
    background-image: linear-gradient(to top, var(--produto-a), var(--produto-b) 80%);
}
.processo-compra p {
    font-size: 2rem;
    text-align: center;
}

/* Loading
--------------------------------------------------- */
.loading span {
	display: inline-block;
	width: 14px;
	height: 14px;
    border: 1px solid var(--text-dark);
	border-radius: 50%;
	background: var(--cortema);
	margin: 3px;
}
.loading {
	margin: 40px auto;
	text-align: center;
}

/* Loading anim
------------------------ */
.loading span {
	animation: dots .6s cubic-bezier(0.6,0.1,1,0.4);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.loading span:nth-child(0) {
	animation-delay: .1s;
}
.loading span:nth-child(2) {
	animation-delay: .2s;
}
.loading span:nth-child(3) {
	animation-delay: .3s;
}
.loading span:nth-child(4) {
	animation-delay: .4s;
}
@keyframes dots {
	from {
		transform: translate3D(0,0,0);
	}
	to {
		transform: translate3D(0,30px,0);
	}
}

/* Quem Somos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.quem-somos {
    background-color: var(--bg-dark);
    color: var(--text-clear);
}
.quem-somos .sub-titulo {
    color: var(--cortema);
}
.quem-somos i {
    font-size: 35pt;
    text-align: right;
}
.quem-somos .texto {
    margin-bottom: 30px;
}
.quem-somos img {
    margin-top: 40px;
}
@media (max-width: 992px) {
    .quem-somos img {
        margin-bottom: 40px;
    }
}

/* Perguntas Frequentes
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
.perguntas-frequentes {
    background-color: #C8C8D7;
    background-image: -webkit-linear-gradient(right, #C8C8D7, var(--bg-clear) 80%);
    background-image: -moz-linear-gradient(right, #C8C8D7, var(--bg-clear) 80%);
    background-image: -o-linear-gradient(right, #C8C8D7, var(--bg-clear) 80%);
    background-image: linear-gradient(to right, #C8C8D7, var(--bg-clear) 80%);
}
.owl-carousel {
    margin-bottom: 3rem;
}
.owl-carousel .item {
    margin-bottom: 3rem;
    padding: 3rem 0;
    background-color: var(--bg-box);
    margin: 0 auto;
    -webkit-clip-path: polygon(0 5%,24% 4%,24% 7%,27% 4%,100% 0,100% 100%,0 98%);
    clip-path: polygon(0 5%,24% 4%,24% 7%,27% 4%,100% 0,100% 100%,0 98%);
}
.owl-carousel .item .depoimento {
    font-family: OpenSans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
}
.owl-dot span {
    background: #869791 !important;	
}
.owl-dot span:hover, .owl-dot.active span {
    background: var(--bg-dark) !important;	
}
/* Rodapé
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
/*  background: url(../img/background-footer.jpg) repeat top;*/
  background-color: var(--bg-dark);
  background-size: auto;
  padding: 25px 0 10px 0;
}
footer .texto {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
footer a {
  color: var(--cortema);
  text-decoration: none;
}
footer a:hover {
  color: var(--text-white);
}

/* Pace Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: var(--cortema);
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
