/*
**********************************************************
*** Cliente: Cavaleiro (Zeus)
*** Projeto: Website/E-commerce
*** Autor: JimmyFilips
*** Website: https://github.com/jimmyfilips
**********************************************************
*/

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 6rem 0;
    text-align: center;
}
.box {
    padding: 3rem 0;
}
.titulo {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 6rem;
}
.sub-titulo {
    font-size: 1.7rem;
    font-weight: bold;
}
.texto {
    font-size: 1.4rem;
}
.extra-space {
    padding-bottom: 6rem;
}
.no-space {
    margin-bottom: 1rem;
}

/* Navbar Customização
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-custom {
    font-weight: bold;
}
.navbar-custom a {
    color: #71d65d;
}
.navbar-custom a:hover {
    color: #79e564;
    text-decoration: none;
}
.navbar-inverse {
    background-color: rgb(34,34,34);
    border-bottom: 0;
}
.navbar-brand {
    font-family: 'Ranchers', cursive;
    font-family: 'Slackey', cursive;
    font-weight: normal;
    letter-spacing:1px;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacing {
	height: 2rem;
}
.inicio img {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
}
.inicio p {
    color: white;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.parallax-window {
    align-items: center;
    background: transparent;
    display: flex;
    min-height: 100vh;
}

/* Opções de compras
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-produto a {
    text-decoration: none !important;
}
.box-produto a:hover {
    text-decoration: none !important;
}
.mascara {
  background-color:rgba(0,0,0,.8);
  position:fixed;
  width: 100vw;
  height: 100vh;
  display:none;
  z-index:99;
  left:0;
  top:0;
}
.modal_compra {
  display:none;
  width: 90%;
  max-width:500px;
  position:fixed;
  left:0;
  top:0;
  background:#FFF;
  z-index:100;
  padding:20px;
  border-radius:5px;
    margin: 0 5%;
}
.prod-close {
    cursor: pointer;
}

/* Produtos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.produtos {
    background-blend-mode: darken;
    background-color: #ebebeb;
    background-image: url(../img/texture-bw.png);
}
.box-produto {
    background-color: #F9FBFA;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    padding-bottom: 1px;
}
.prod-header {
    background-color: #32729F;
    border-radius: 10px 10px 0 0;
    height:250px;
}
.produto-1 {
    background: url(../img/conta-alt.jpg);
    background-position: center;
    background-size: cover;
}
.produto-2 {
    background: url(../img/conta-full.jpg);
    background-position: center;
    background-size: cover;
}
.prod-header .prod-titulo {
    color: white;
    font-size: 30pt;
    font-weight: bold;
    margin: 0;
    padding: 140px 0 40px 0;
    text-align: center;
    text-shadow: 1px 0 5px rgba(0,0,0,0.5);
    text-transform: uppercase;
}
.prod-preco {
	font-size: 20pt;
    font-weight: 600;
    margin-top: -20px;
    padding: 10px 0;
}
.vantagens {
    background-color: #F2F6F7;
    padding: 10px 25px;
}
.vantagens .destaque {
    background-color: #13C3B7;
    background-image: -webkit-linear-gradient(right, #0AAFFA, #27CAA2 80%);
    background-image: -moz-linear-gradient(right, #0AAFFA, #27CAA2 80%);
    background-image: -o-linear-gradient(right, #0AAFFA, #27CAA2 80%);
    background-image: linear-gradient(to left, #0AAFFA, #27CAA2 80%);
    border-radius: 30px;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    margin: -33px auto 40px auto;
    padding: 10px;
    text-align: center;
    width: 190px;
}
.vantagens .texto {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
.vantagens .fa-check {
    color: #71d65d;
}
.vantagens .fa-remove {
    color: #d12525;
}
.prod-comprar {
    border: 2px solid #955DB8;
    border-radius: 30px;
    color: #955DB8;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}
.prod-comprar:hover {
    background-color: #955DB8;
    color: #fff;
}

@media (min-width: 992px) {
    .gold-box {
        transform: translate(0,-15px);
    }
    .gold-destaque {
        height:280px;
    }
}

.selo {
    border-bottom: 15px solid #EDE74E;
    border-left: 15px solid transparent;
    border-right: 10px solid #EDE74E;
    border-top: 15px solid #EDE74E;
    
    height: 0;
    position: relative;
    top: 10px;
    transform: rotate(-90deg);   
    width: 70px;
}
.selo .selo-nome {
    color: #8B8F29;
    font-size: 8pt;
    font-weight: bold;
    margin-top: -7px;
}
.selo .selo-nome::after {
    border-left: 6px solid #C3C752;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    content: ' ';
    height: 0; 
    left: 42px;
    position: absolute;
    top: 18px;
    transform: rotate(90deg);
    width: 0; 
    z-index: -50;
}

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.prod-opcoes {
    background-color:#FFF;
    padding:20px;
    border-radius: 5px;
    position: relative;
}
.prod-opcoes-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
	font-size: 10px;
	color: #626262;
    font-weight: bold;
	padding: 8px 16px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#f0f0f0);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#f0f0f0));
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    border: 1px solid #d1d1d1;
}
.prod-opcoes-close:hover {
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#f6f6f6);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#f6f6f6));
    border: 1px solid #e8e8e8;
}
.prod-opcoes-logo {
    height: 72px;
}
.prod-opcoes-logo img {
	padding: 1rem 0 2rem 0 !important;
}
.prod-opcoes-bt {
    padding: 8px 0 2px 0;
}
.prod-opcoes-box {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 10px 0;
    border-radius: 5px;
}
a.botao-mercadopago {
	color: #ffffff;
    text-decoration: none;
}
a.botao-mercadopago {
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#00a5ec 0%,
		#2d3277);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#00a5ec),
		to(#2d3277));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.botao-mercadopago:hover {
	background: -moz-linear-gradient(
		top,
		#00a5ec 0%,
		#484ea2);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#00a5ec),
		to(#484ea2));
}
a.botao-mercadopago:active {
	background: -moz-linear-gradient(
		top,
		#484ea2 0%,
		#00a5ec);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#484ea2),
		to(#00a5ec));
}
a.botao-pagseguro {
	color: #ffffff;
    text-decoration: none;
    content: 'Comprar';
}
a.botao-pagseguro {
/*	font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#77BA00 0%,
		#5C9336);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#77BA00),
		to(#5C9336));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.botao-pagseguro:hover {
	background: -moz-linear-gradient(
		top,
		#77BA00 0%,
		#69a83c);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#77BA00),
		to(#69a83c));
}
a.botao-pagseguro:active {
	background: -moz-linear-gradient(
		top,
		#5C9336 0%,
		#77BA00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#5C9336),
		to(#77BA00));
}
@media (max-width: 762px) {
    .prod-opcoes {
        min-width: 90vw;
    }
    .prod-opcoes-box-space {
        margin-bottom: 3rem;
    }
}

/* Quem Somos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.quem-somos {
    background-color: #1a1a1a;
    color: #f8f8f8;
}
.quem-somos .titulo, .quem-somos .sub-titulo {
    color: #71d65d;
}
.quem-somos i {
    font-size: 35pt;
    text-align: right;
}
.quem-somos .texto {
    margin-bottom: 30px;
}
.quem-somos img {
    margin-top: 40px;
}
@media (max-width: 992px) {
    .quem-somos img {
        margin-bottom: 40px;
    }
}

/* Perguntas Frequentes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.perguntas-frequentes {
    background-color: #efefef;
}
.ativador-input { 
    display: none; 
}
.etiqueta {
    align-content: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(50, 50, 90,.1);
    cursor: pointer;
    display: flex;
    font-size: 1.17em;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 25px;
    transition: all 0.4s;
    width: 95%;
}
.etiqueta .ico {
    color: #71d65d;
    font-size: 26.6pt;
    text-shadow: 
        1px 0 0 rgba(0,0,0,1),
        0 1px 0 rgba(0,0,0,1),
        -1px 0 0 rgba(0,0,0,1),
        0 -1px 0 rgba(0,0,0,1),
        1px 1px 0 rgba(0,0,0,1),
        -1px 1px 0 rgba(0,0,0,1),
        1px -1px 0 rgba(0,0,0,1),
        -1px -1px 0 rgba(0,0,0,1);
    width:26.6pt;
}
.etiqueta .title {
    margin: auto 0;
    margin-left: 10px;
    width: calc(100% - 26.6pt - 10px);
}
.etiqueta:hover {
  box-shadow: 5px 5px 6px rgba(50, 50, 90,.2);
  transform: translateY(-1px) rotate(-1deg);
}
.ativador-input:checked + .box-faq .etiqueta {
  box-shadow: 5px 5px 6px rgba(50, 50, 90,.2);
  transform: translateY(-1px) rotate(-1deg);
}
.faq-desc {
  background: white;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 500ms;
  width: 100%;
}
.ativador-input:checked + .box-faq .faq-desc {
  box-shadow: 0 2px 6px rgba(50, 50, 90,.1);
  padding: 20px;
}
.ativador-input:checked + .box-faq .faq-desc {
  max-height: 200px;
}

/* Rodapé
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background: url(../img/background-footer.jpg) repeat top;
  background-size: auto;
  padding: 25px 0 10px 0;
}
footer .texto {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
footer a {
  color: #71d65d;
  text-decoration: none;
}
footer a:hover {
  color: #66c054;
}
footer .texto:first-child::after {
	background: #555;
	content: '';
	display: block;
	height: 1px;
	margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
	width: 200px;
}

/* Pace Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #71d65d;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}